<header>
      <nav>
        <div class="logo">
          <img src="../../../../assets/Photos/webPhotos/helixLogo.png"  alt="image is loading...">
        </div>
        <ul>
          <li class='user-vollete'><img src="../../../../../assets/Photos/HelixPhotos/vollete.png " style="height: 30px; width: 30px;" /></li>
          <li class='user-balance'><div class="balance">balance</div> <span class='balance-value'><i class="uil uil-rupee-sign"></i>{{ user?.coin.toFixed(2) }}</span></li>
          <li class='menu-icon' (click)="hideEvent()"><i class="uil uil-apps"></i></li>
        </ul>
      </nav>
  </header>



